.modx-tabs {
  margin: 0;
  margin-bottom: -2px;
  padding: 0;

  li {
    display: inline-block;
    zoom: 1;
    *display: inline;

    -moz-border-radius:4px 4px 0 0;
    -webkit-border-radius:4px 4px 0 0;
    -khtml-border-radius:4px 4px 0 0;
    border-radius:4px 4px 0 0;
    border-color: #658F1A;
    border-style:solid solid none;
    border-width:1px 1px 0;
    margin:1px -2px 1px 0;
    padding:2px 8px;
    background: url(../images/modx-theme/tabs/tab-bg.svg) #658F1A;
    background:-moz-linear-gradient(center bottom,#658F1A 0%,#8BAF4C 100%) repeat scroll 0 0 transparent;
    //background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#8BAF4C),color-stop(100%,#658F1A));
    background:-webkit-linear-gradient(center bottom,#658F1A 0%,#8BAF4C 100%);
    background:-o-linear-gradient(center bottom,#658F1A 0%,#8BAF4C 100%);
    background:-ms-linear-gradient(center bottom,#658F1A 0%,#8BAF4C 100%);
    //filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#8BAF4C,endColorstr=#658F1A,GradientType=0);

    a {
      line-height: 27px;
      outline: none;
      text-decoration: none;
      color: #FFFFFF;
      padding: 4px 0 5px;
      text-shadow: 0 -1px 0 #3D5F00;
      font-size: 12px;

      &:hover {

      }

      &.active {
        color: #666666;
        text-shadow:0 1px 0 #FAFAFA;
      }
    }

    &.active {
      background: white none;
      overflow:hidden;
      border: 1px solid #999;
      border-bottom: 0 none;
      text-shadow: none;
      filter: none;

      #modx-sidebar & {
        background-color: #fbfbfb;
      }
    }
  }
}

.modx-tabs-content {
  background-color: #fff;
  border: 1px solid #999;
  -moz-border-radius: 0 4px 4px 4px;
  -webkit-border-radius: 0 4px 4px 4px;
  border-radius: 0 4px 4px 4px;

  #modx-sidebar & {
    background-color: #fbfbfb;
  }

  .inner {
    padding: 6px;
  }
}
